.button {
  border: 1px solid white;
  font-size: 40px;
  font-weight: 400px;
  color: white;
  background-color: transparent;
  padding: 5px 40px;
  border-radius: 30px;
}

.button:active,
.button:hover {
  color: #2bbed3;
  background-color: white;
}
