.container {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: flex-start;
  justify-content: space-evenly;
}

@media (max-width: 700px) {
  .container {
    flex-wrap: wrap;
  }
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
