.coin {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  color: white;
  border: 1px solid white;
  flex: 1;
  width: 200px;
  padding: 10px;
}

.img {
  height: 50px;
}
