.key {
  border: 1px solid white;
  border-radius: 100%;
  font-size: 20px;
  color: white;
  height: 40px;
  width: 40px;
  margin: 5px;
  background-color: transparent;
}

.key:active,
.key:focus {
  color: black;
  margin: 5px;
  background-color: white;
}
