.NumberField,
.NumberField:active,
.NumberField:hover,
.NumberField:focus,
.NumberField:focus-visible {
  font-size: 80px;
  color: white;
  font-style: bold;
  border: none;
  background-color: transparent;
  text-align: center;
  outline-width: 0px;
  width: 100%;
  padding: 10px 0;
}
